{% extends 'base2.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<div class="container">
    
		<h1 class="h1Twig">Politique de confidentialité</h1>
		<hr>

		<p>
			<strong>Dernière mise à jour : 14 octobre 2024</strong>
		</p>

		<p>
			La présente politique de confidentialité décrit nos politiques et procédures en matière de collecte, d'utilisation et de divulgation de vos informations lorsque vous utilisez le service. Elle vous informe également de vos droits en matière de confidentialité et de la manière dont la loi vous protège.
		</p>

		<p>
			Nous utilisons vos données personnelles pour fournir et améliorer le service. En utilisant le service, vous acceptez la collecte et l'utilisation des informations conformément à la présente politique de confidentialité. Cette politique de confidentialité a été créée avec l'aide du générateur de politique de confidentialité.
		</p>

		<hr>

		<h2>Interprétation et définitions</h2>

		<p>
			<strong>Interprétation</strong>
		</p>

		<p>
			Les mots dont la lettre initiale est en majuscule ont des significations définies dans les conditions suivantes. Les définitions suivantes ont la même signification, qu'elles apparaissent au singulier ou au pluriel.
		</p>

		<p>
			<strong>Définitions</strong>
		</p>

		<p>
			Aux fins de la présente politique de confidentialité :
		</p>

		<ul>
			<li>
				<strong>Compte</strong>
				: désigne un compte unique créé pour vous afin d'accéder à notre service ou à des parties de notre service.</li>
			<li>
				<strong>Affilié</strong>
				: une entité qui contrôle, est contrôlée par ou est sous contrôle commun avec une partie, le terme "contrôle" désignant la propriété de 50 % ou plus des actions, participations ou autres titres donnant droit à un vote pour l'élection des administrateurs ou d'autres responsables de la gestion.</li>
			<li>
				<strong>Entreprise</strong>
				: désigne Preparfumer.</li>
			<li>
				<strong>Cookies</strong>
				: sont de petits fichiers placés sur votre ordinateur, votre appareil mobile ou tout autre appareil par un site web, contenant les détails de votre historique de navigation sur ce site web parmi ses nombreuses utilisations.</li>
			<li>
				<strong>Appareil</strong>
				: tout appareil pouvant accéder au Service, tel qu'un ordinateur, un téléphone mobile ou une tablette numérique.</li>
			<li>
				<strong>Données à caractère personnel</strong>
				: toutes les informations qui se rapportent à une personne identifiée ou identifiable.</li>
			<li>
				<strong>Service</strong>
				: fait référence au site web.</li>
		</ul>

		<hr>

		<h2>Collecte et utilisation de vos données personnelles</h2>

		<p>
			<strong>Types de données collectées</strong>
		</p>

		<p>
			<strong>Données personnelles</strong>
		</p>

		<p>
			Lors de l'utilisation de notre service, nous pouvons vous demander de nous fournir certaines informations personnellement identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les informations personnellement identifiables peuvent inclure, mais ne sont pas limitées à :
		</p>

		<ul>
			<li>Adresse électronique</li>
			<li>Prénom et nom de famille</li>
			<li>Numéro de téléphone</li>
			<li>Adresse, État, Province, Code postal, Ville</li>
		</ul>

		<hr>

		<h2>Informations provenant de services de médias sociaux tiers</h2>

		<p>
			La Société vous permet de créer un compte et de vous connecter pour utiliser le Service par le biais des Services de médias sociaux tiers suivants :
		</p>

		<ul>
			<li>Google</li>
			<li>Facebook</li>
			<li>Instagram</li>
			<li>Twitter</li>
			<li>LinkedIn</li>
		</ul>

		<hr>

		<h2>Technologies de suivi et cookies</h2>

		<p>
			Nous utilisons des cookies et des technologies de suivi similaires pour suivre l'activité sur notre service et stocker certaines informations. Les technologies de suivi utilisées sont des balises, des tags et des scripts pour collecter et suivre les informations et pour améliorer et analyser notre service.
		</p>

		<hr>

		<h2>Utilisation de vos données personnelles</h2>

		<p>
			La société peut utiliser les données personnelles aux fins suivantes :
		</p>

		<ul>
			<li>Fournir et maintenir notre service, y compris pour contrôler l'utilisation de notre service.</li>
			<li>Gérer votre compte.</li>
			<li>Pour vous contacter : via e-mail, appels téléphoniques, SMS.</li>
			<li>Gérer vos demandes.</li>
		</ul>

		<hr>

		<h2>Conservation de vos données personnelles</h2>

		<p>
			La société ne conservera vos données personnelles que le temps nécessaire aux fins énoncées dans la présente politique de confidentialité.
		</p>

		<hr>

		<h2>Transfert de vos données personnelles</h2>

		<p>
			Vos informations peuvent être transférées à — et conservées sur — des ordinateurs situés en dehors de votre juridiction où les lois sur la protection des données peuvent être différentes.
		</p>

		<hr>

		<h2>Divulgation de vos données personnelles</h2>

		<p>
			La société peut divulguer vos données personnelles pour respecter une obligation légale ou protéger et défendre ses droits.
		</p>

		<hr>

		<h2>Sécurité de vos données personnelles</h2>

		<p>
			Nous nous efforçons d'utiliser des moyens commercialement acceptables pour protéger vos données personnelles, mais aucun mode de transmission sur Internet n'est sécurisé à 100 %.
		</p>

		<hr>

		<h2>Vos droits en matière de protection des données</h2>

		<p>
			Vous avez le droit de corriger, modifier, supprimer ou limiter l'utilisation de vos données personnelles. Pour toute demande, veuillez nous contacter.
		</p>

		<hr>

		<h2>Liens vers d'autres sites web</h2>

		<p>
			Notre service peut contenir des liens vers d'autres sites web qui ne sont pas exploités par nous.
		</p>

		<hr>

		<h2>Modifications de cette politique de confidentialité</h2>

		<p>
			Nous pouvons mettre à jour cette politique de confidentialité de temps en temps. Vous êtes conseillé de consulter cette page périodiquement pour toute modification.
		</p>
		<hr>

	</div>
{% endblock %}
