<form method="post" action="{{ path('app_tondeuses_delete', {'id': tondeus.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tondeus.id) }}">
    <button class="btn">Delete</button>
</form>
