{% extends 'base.html.twig' %}

{% block title %}New Pistolets{% endblock %}

{% block body %}
    <h1>Create new Pistolets</h1>

    {{ include('pistolets/_form.html.twig') }}

    <a href="{{ path('app_pistolets_index') }}">back to list</a>
{% endblock %}
