<h1>Bonjour! Veuillez s'il vous plaît confirmer votre adresse e-mail!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous. Cliquez sur le lien seulement une seule fois: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre adresse e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
