{% extends 'base2.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; }
    .card { margin-bottom: 20px; }
</style>

<div class="example-wrapper">
    <div class="container">
        <!-- Cards Section -->
        <div class="row">
            {% for i in 1..6 %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">Card Title {{ i }}</h5>
                            <p class="card-text">This is a description of card {{ i }}. It provides a brief overview of the content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Categories Section -->
        <div class="mt-5">
            <h3>Categories</h3>
            <ul class="list-group list-group-horizontal">
                {% for category in ['Category 1', 'Category 2', 'Category 3', 'Category 4', 'Category 5'] %}
                    <li class="list-group-item">
                        <a href="#" class="text-decoration-none">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
</div>
{% endblock %}
