{% extends 'base.html.twig' %}

{% block title %}New Tissus{% endblock %}

{% block body %}
    <h1>Create new Tissus</h1>

    {{ include('tissus/_form.html.twig') }}

    <a href="{{ path('app_tissus_index') }}">back to list</a>
{% endblock %}
