{% extends 'base.html.twig' %}

{% block title %}New Fils{% endblock %}

{% block body %}
    <h1>Create new Fils</h1>

    {{ include('admin/fils/_form.html.twig') }}

    <a href="{{ path('app_fils_index') }}">back to list</a>
{% endblock %}
