<footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <!-- Section des réseaux sociaux -->
      <div class="col-md-6">
        <h5>Suivez-nous</h5>
        <ul class="social-links">
         
          <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
        
        </ul>
      </div>

      <!-- Section des pages de juridiction -->
      <div class="col-md-6">
        <h5><b>Informations légales</b></h5>
        <ul class="legal-links">
          <li><a href="/mentions-legales">Mentions légales</a></li>
          <li><a href="/conditions-generales">Conditions générales de vente</a></li>
          <li><a href="/politique-confidentialite">Politique de confidentialité</a></li>
          <li><a href="/cookies">Politique de cookies</a></li>
        </ul>
      </div>
    </div>

    {# <div class="row mt-4">
      <div class="col text-center">
        <p>&copy; 2024 Rug Assembly - Tous droits réservés</p>
      </div>
    </div> #}
  </div>
</footer>
