{% extends 'base.html.twig' %}

{% block title %}Edit Tondeuses{% endblock %}

{% block body %}
    <h1>Edit Tondeuses</h1>

    {{ include('tondeuses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tondeuses_index') }}">back to list</a>

    {{ include('tondeuses/_delete_form.html.twig') }}
{% endblock %}
