{% extends 'base.html.twig' %}

{% block title %}Tondeuses index{% endblock %}

{% block body %}
    <h1>Tondeuses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tondeus in tondeuses %}
            <tr>
                <td>{{ tondeus.id }}</td>
                <td>
                    <a href="{{ path('app_tondeuses_show', {'id': tondeus.id}) }}">show</a>
                    <a href="{{ path('app_tondeuses_edit', {'id': tondeus.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tondeuses_new') }}">Create new</a>
{% endblock %}
