{% extends 'base.html.twig' %}

{% block title %}New Tapis{% endblock %}

{% block body %}
    <h1>Create new Tapis</h1>

    {{ include('tapis/_form.html.twig') }}

    <a href="{{ path('app_tapis_index') }}">back to list</a>
{% endblock %}
