{% extends 'base.html.twig' %}

{% block title %}Edit Fils{% endblock %}

{% block body %}
    <h1>Edit Fils</h1>

    {{ include('fils/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fils_index') }}">back to list</a>

    {{ include('fils/_delete_form.html.twig') }}
{% endblock %}
