{% extends 'base.html.twig' %}

{% block title %}Tapis index{% endblock %}

{% block body %}
    <h1>Tapis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tapi in tapis %}
            <tr>
                <td>{{ tapi.id }}</td>
                <td>
                    <a href="{{ path('app_tapis_show', {'id': tapi.id}) }}">show</a>
                    <a href="{{ path('app_tapis_edit', {'id': tapi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tapis_new') }}">Create new</a>
{% endblock %}
